/* change-password.component.css */
/* Custom styles for PrimeNG components */
:host ::ng-deep .p-password {
  width: 100%;
}

:host ::ng-deep .p-password .p-inputtext {
  width: 100%;
  padding: 0.75rem 2.5rem 0.75rem 1rem !important;
}

:host ::ng-deep .p-password .p-icon-wrapper {
  right: 0.75rem;
}

/* Style for invalid state */
.border-red-500 {
  border-color: #ef4444 !important;
}

/* Style for valid state */
.border-green-500 {
  border-color: #10b981 !important;
}


.pi-arrow-left{
  // color:#1eb2ff7d
  color:#1eb2ff7d;
  object-fit: fill; 
  cursor: pointer;
}
.top-change.p-overlaypanel.p-component {
  top: calc(var(--overlayPanelTop, 0px) + 12px) !important;
}

